<!-- <p>github-app works!</p> -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-wrapper">
        <form class="form-inline" (submit)="searchUser()">
          <div class="form-group">
            <label for="username" class="mr-md-2 mr-sm-2"
              >Search Github User:
            </label>
            <input
              size="50"
              name="username"
              type="search"
              class="form-control"
              placeholder="username"
              [(ngModel)]="searchText"
            />
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Search"
              class="btn btn-sm btn-primary ml-md-2 ml-sm-0"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col" *ngIf="(userProfileData | keyvalue)?.length">
      <app-github-profile [profile]="userProfileData"></app-github-profile>
    </div>
    <!-- <div class="col" *ngIf="!validUser"> -->
      <!-- <h4>user is not authorized to access this resource</h4> -->
  <app-error-page *ngIf="!validUser"></app-error-page>

    <!-- </div> -->
  </div>

  <div class="row mt-3" *ngIf="userProfileRepo.length > 0">
    <div class="col">
      <h4>Github Repositories</h4>
      <app-user-repository
        [list]="userProfileRepo"
        [totalRepos]="userProfileData.public_repos"
        (callback)="pageChangeCallback($event)"
      ></app-user-repository>
    </div>
  </div>
  <div class="row" *ngIf="profileLoader && validUser">
    <div class="col-md-3">
      <app-skeleton-loader
        appearance="circle"
        [config]="{ height: '200px', width: '100%' }"
      >
      </app-skeleton-loader>
    </div>
    <div class="col-md-9">
      <app-skeleton-loader
        [count]="5"
        [config]="{ 'border-radius': '0', height: '30px' }"
      ></app-skeleton-loader>
    </div>
  </div>
  <div class="row mt-3" *ngIf="repoLoader && validUser">
    <div class="col">
      <div>
        <app-skeleton-loader
          [count]="1"
          [config]="{ 'border-radius': '0', height: '30px', width: '100px' }"
        ></app-skeleton-loader>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <app-skeleton-loader
            [count]="1"
            [config]="{ 'border-radius': '0', height: '50px' }"
          ></app-skeleton-loader>
        </div>
        <div class="col-md-6 col-sm-12">
          <app-skeleton-loader
            [count]="1"
            [config]="{ 'border-radius': '0', height: '50px' }"
          ></app-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</div>
